.modal{
    width: 580px !important;
}

.timeout__select{
    width: 100% !important;
    flex: 1 !important;

}
.action{
    width: 100% !important;
    display: flex;
    justify-content: flex-end;
    gap: 20px;

}
.action button{
    min-width: 100px !important;
}
