:root{
    --primary-color: rgb(44, 62, 80);    /* Dark Navy Blue - Professional & Stable */
    --secondary-color: rgb(52, 152, 219); /* Bright Blue - Tech & Innovation */
    --warning-color: rgb(241, 196, 15);   /* Yellow - Alerts & Warnings */
    --danger-color: rgb(231, 76, 60);     /* Red - Errors & Critical Actions */
    --success-color: rgb(52, 152, 219);   /* Green - Success & Confirmations */
    --text-color: rgb(51, 51, 51);        /* Dark Gray - Readable Main Text */
    --text-color-light: rgb(170, 170, 170); /* Light Gray - Muted Text */
    --background-layout-color: rgb(236, 240, 241);
    --folder-color: rgb(255, 211, 77);
    --border: #e5e5e5;
    --text-400:400;
    --text-500:500;
    --text-bold:bold;
    --text-normal:14px;
    --text-sm:12px;
    --text-xs:10px;
    --text-l:16px;

}