
.card__content{
    padding: 12px;
    width: 50%;
    cursor: pointer;
}
.card__color{
    background-color: color-mix(in srgb, var(--primary-color) 15%, transparent);
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__color i{
    font-size: 40px;
    color: var(--primary-color);
}

.card__title{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 18px;
    /*border-bottom: 1px solid var(--border);*/
    padding-bottom: 8px;
}
.card__description div{
    margin: 8px 0;
    font-size: 14px;
    /*opacity: 0.75;*/
    color: var(--primary-color);
}
.card__description span{
    display: inline-block;
    width: 70px;
    font-weight: 500;
}

.card__decor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 12px;
}
.card__decor svg{
    color: var(--primary-color);
    opacity: 0.1;
    height: 170px;
    position: absolute;
    right: -4px;


}

.card__decor__secondary{
    svg{
        color: var(--secondary-color);
    }
}

.card__decor__warning{
    svg{
        color: var(--warning-color);
        opacity: 0.2;
    }
}

.card__decor__danger{
    svg{
        color: var(--danger-color);
    }
}

.card__color__secondary{
    background-color: color-mix(in srgb, var(--secondary-color) 15%, transparent);
    i{
        color: var(--secondary-color);
    }
}

.card__color__warning{
    background-color: color-mix(in srgb, var(--warning-color) 15%, transparent);
    i{
        color: var(--warning-color);
    }
}

.card__color__danger{
    background-color: color-mix(in srgb, var(--danger-color) 15%, transparent);
    i{
        color: var(--danger-color);
    }
}