.tables{
    /*height: 100%;*/
    display: flex;
    flex-direction: column ;
    gap: 18px;
}

.jobque__title{
    font-weight: 500;
    font-size: 13px;
    padding: 4px 2px;
    margin-top: 12px;
    color: var(--primary-color);
}